// Colors
$black: #000;
$white: #fff;
$red: #e02b2b;
$light-gray: #ffffff;
$footer-bg: #94949411;
$footer-hover: #0c3a41;
$text-color: #555;

// Fonts
$primary-font:'Poppins', sans-serif;

// Sizes
$max-width: 1280px;
$header-padding: 20px 40px;
$container-padding: 0 20px;